<div id="main-1" class="main-block main-menu">
    <div class="block">
        <div class="block-top">
            <h2>Sau</h2>
        </div>
        <div class="block-body">
            <ul class="home-list">
                <li><a id="home-all" href="#">Vis alle</a></li>
                <li><a id="home-map" href="#">Vis på kart</a></li>
                <li><a id="home-add" href="#">Legg til ny</a></li>
            </ul>
        </div>
    </div>
    <div class="block">
        <div class="block-top">
            <h2>Administrasjon</h2>
        </div>
        <div class="block-body">
            <ul class="home-list">
                <li><a id="admin-edit" href="#">Rediger bruker</a></li>
                <li><a id="admin-alert" href="#">Rediger varsling</a></li>
                <li><a id="admin-log" href="#">Les logg</a></li>
            </ul>
        </div>
    </div>
    <div class="block">
        <div class="block-top block-button">
            <h2><a id="log-out" href="#">Logg ut</a></h2>
        </div>
    </div>
</div>