<div class="main-menu">
    <div class="block">
        <div class="block-top">
            <h2>Ny sau</h2>
        </div>
        <div class="block-body">
            <form action="" method="post" name="sheep_add_form" id="sheep_add_form">
                <div id="identification-holder" class="input-hax">
                    <p>#</p>
                    <input type="text" value="" placeholder="Identifikasjon" name="identification" id="identification" />
                </div>
                <input type="text" value="" placeholder="Navn" name="name" id="name" />
                <input type="date" value="" placeholder="Bursdag" name="birthday" id="birthday" />
                <input type="number" value="" placeholder="Vekt" name="weight" id="weight" />
                <div id="sheep-add-dropdown" class="input-dropdown"><div class="arrow"></div>
                    <input type="hidden" value="1" name="vaccine" id="vaccine" />
                    <div class="dropdown-head">
                        <p>Vaksinert: Ja</p>
                    </div>
                    <div class="dropdown-body">
                        <ul>
                            <li class="active"><a href="#" data-value="1">Ja</a></li>
                            <li class="last"><a href="#" data-value="0">Nei</a></li>
                        </ul>
                    </div>
                </div>
                <input type="number" value="" placeholder="Lat" name="lat" id="lat" />
                <input type="number" value="" placeholder="Lng" name="lng" id="lng" />
                <div class="submit-container" id="login_bottom_container">
                    <div class="submit-container-left" id="login_error_container">
                        <p id="login_wrong_pw">Vennligst rydd opp i feil.</p>
                    </div>
                    <div class="submit-container-right" id="login_button_container">
                        <input type="submit" class="right" value="Lagre" name="sheep_add_form_submit" id="sheep_add_form_submit" />
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
</div>