<div class="main-menu">
    <div class="block">
        <div class="block-top">
            <h2>Logg inn</h2>
        </div>
        <div class="block-body">
            <form action="" method="post" name="login_form" id="login_form">
                <input type="text" value="" placeholder="E-post" name="email" id="email" />
                <input type="password" value="" placeholder="Passord" name="pswd" id="pswd" />
                <div id="login_bottom_container">
                    <div id="login_error_container">
                        <p id="login_wrong_pw">Feil brukernavn og/eller passord. Prøv igjen.</p>
                    </div>
                    <div id="login_button_container">
                        <input type="submit" class="right" value="Send" name="login_sbmt" id="login_sbmt" />
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
</div>