<div class="main-menu">
    <div class="block">
        <div class="block-top"><div class="block-icon" id="block-icon-sheep"></div>
            <h2><%= name %></h2>
        </div>
        <div class="block-body block-text">
            <p><b>Navn:</b> <%= name %></p>
            <p><b>Identifikasjon:</b> #<%= identification %></p>
            <p><b>Chip:</b> #<%= chip %></p>
            <p><b>Status:</b> <%= status %></p>
            <p>&nbsp;</p>
            <p><b>Bursdag:</b> <%= birthday %></p>
            <p><b>Alder:</b> <%= age %></p>
            <p>&nbsp;</p>
            <p><b>Vekt:</b> <%= weight %> kg</p>
            <p><b>Vaksinert:</b> <%= vaccine %></p>
            <p>&nbsp;</p>
            <p><b>Siste posisjon:</b> [<%= lat %>, <%= lng %>]</p>
            <p><b>Siste oppdatering:</b> <%= last_updated %></p>
        </div>
    </div>
    <div class="block">
        <div class="block-top"><div class="block-icon" id="block-icon-note"></div>
            <h2>Kommentar</h2>
        </div>
        <div class="block-body block-text">
           <%= comment %>
        </div>
    </div>
    <div class="block block-last">
        <div class="block-top"><div class="block-icon" id="block-icon-edit"></div>
            <h2>Valg</h2>
        </div>
        <div class="block-body block-text block-button-collection">
            <input type="button" value="Vis på kart" data-id="<%= id %>" name="sheep_single_map" id="sheep_single_map" />
            <input type="button" value="Rediger" data-id="<%= id %>" name="sheep_single_edit" id="sheep_single_edit" />
            <input type="button" value="Slett" data-id="<%= id %>" data-name="<%= name %>" data-identification="<%= identification %>" name="sheep_single_delete" id="sheep_single_delete" class="right alert" />
            <div class="clear"></div>
        </div>
    </div>
</div>